streamlit
tensorflow
keras
librosa
numpy
pandas
matplotlib
seaborn
scikit-learn


streamlit==1.36.0
tensorflow==2.16.1
keras==3.3.3
librosa==0.10.2
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.0
seaborn==0.13.2
scikit-learn==1.5.0


pip install -r requirements.txt
